.details-container{
    padding:30px;
    text-align:center;
}

.back-btn{
    padding:10px 20px;
    background:orange;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-bottom:20px;
}

.details-image{
    width:400px;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    margin-bottom:20px;
}

.details-box{
    display:flex;
    justify-content:center;
    gap:50px;
    margin-top:30px;
    text-align:left;
}

.ingredients,
.steps{
    width:400px;
    background:#fff8e6;
    padding:20px;
    border-radius:15px;
}

.ingredients li,
.steps li{
    margin:10px 0;
}
